click==7.0
Flask==0.12.2
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.15.3
beautifulsoup4==4.7.1
certifi==2018.1.18
chardet==3.0.4
gunicorn==19.7.1
heroku==0.1.4
idna==2.6
itsdangerous==0.24
pylint==1.8.2
python-gmaps==0.3.1
requests==2.18.4
virtualenv==16.2.0
wikipedia==1.4.0
