{% extends '/layouts/default.html' %}

{% block body %}
    <body>
      <div id="fontchat">
          <div id="tchat">
              <p> &nbsp &nbsp &nbsp Hey jeune camarade ! Donne moi un nom ou une adresse et je te conterai son histoire  ! </p>
              <div id="contain_loader">
                <div id="loader"></div>
                <p id="loader_text">Hum... laisse moi cogiter un peu...</p>
              </div>
              </div>
              <div id="alert">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <p id="text_error">Je n'ai pas compris cette demande.</p>
              </div>

      </div>

      <div id="map"></div>

            <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9GoIGEjTsNVmaYSfuhcDQ9OxU9udjjYY&callback=initMap"></script>

     </body>


        <div id="form">

            <form method="get">
                <p id="consigne">Entrez ici votre texte →</p>
                <br>
                <input type="text" name="question" id="msg_id" placeholder="&nbsp Essaye ça : Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?" size="80">
            </form>
            <input type="button" id="boutenvoyer" value="Envoyer">
            <span id="aide">
            <abbr title="Saisissez: Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"> Aide?</abbr>
            </span>
        </div>

{% endblock body %}
